.card1 {
	width: 400px;
	height: 400px;
	float: left;
	margin: auto;
	background-color: $background-color_2;
	color: $color_1;
	font-size: 20px;
}
.card2 {
	width: 400px;
	height: 400px;
	display: block;
	flex-direction: row;
	float: inline-end;
	justify-content: center;
	margin: auto;
	color: $color_2;
}
.imagen {
	width: 20rem;
	height: 20rem;
}
.card-footer {
	background-color: $background-color_2;
	color: $color_3;
	font-size: 20px;
	display: flex;
	text-align: center;
	justify-content: center;
}
