$color_1: black;
$color_2: blue;
$color_3: red;
$color_4: red;
$background-color_1: black;
$background-color_2: blue;
$background-color_3: #444;
$background-color_4: transparent;
$background-color_5: #333 #333;
$background-color_6: red;
