*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

/* este es el css de la nav */

header{
    width: 100%;
    height: 10vh;
}

.navbar navbar-expand-lg bg-body-tertiary{
    background-color: blue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2,5px;
}
ui, li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}
a{
    text-decoration: none;
    padding: 150px;
    color: white;
    font-size: 20px;
}

header, li, a:hover{
    cursor: pointer;
    border-radius: 2px 2px 2px 2px solid white;
    color: black;
}

/* no se si esta bien la mezcla de los colores */

h1{
    color: blue;
    font-size: 75px;
    text-align: center;
}
h2{
    color: blue;
    font-size: 75px;
    text-align: center;
}

/* aca estan todos los "p" del proyecto */

p{
    color: white;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}


/* desde aca voy a trabajar el catalogo.html */

.card1{
    width: 400px;
    height: 400px;
    float: left;
    margin: auto;
    color: blue;
}

.card2{
    width: 400px;
    height: 400px;
    display: block;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    color: blue;
}

.imagen{
    width: 9.5rem;
    height: 9.5rem;
}

/* desde aca planeo agregar grid para crear una tabla con algunos datos del producto */

.container text-center{
    display: grid;
    grid-template-columns:  repeat(auto auto auto);
    grid-template-rows: repeat(auto auto auto);
    word-spacing: 20px;
    font-size: 20px;
    background-color: black;
    color: #fff;
}

.col{
    border: 1px solid blue;
    padding: 10px;
    display: grid;
    display: grid;
    grid-template-rows: repeat(auto auto auto);
    display: flex;
    justify-content: center;
    color: #fff;
}

.grid-items{
    border: 1px solid blue;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(auto auto auto auto);
}

/* desde aca voy a trabajar el servicios.html */

.estampados{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

/* desde aca voy a empezar a trabajar con el contacto.html */

.flex-conteiner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #444;
    margin: 50px 30px;
}
h2{
    color: white;
    text-align: left;
}
.form{
    min-width: 400px;
    flex: 1;
    text-align: right;
    padding: 30px;
}
.form__input{
    width: 100%;
    padding: 7px;
    margin: 6px 0px;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    color: white;
}
.form__input:focus{
    background: linear-gradient(to button, transparent, #333);
    background-color:#333 #333;
    outline: none;
    border-bottom: 3px solid;
}
.form__img{
    flex: 1;
    padding: 10px;
    display: flex;
}
.form__img img{
    width: 60%;
    margin: auto;
    border-radius: 50%;
    background-color: black;
    padding: 10px;
}
.form__textarea{
    min-width: 140px;
}
.boton{
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.boton:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

/* aclaro que me fui encontrando con unos problemas en mi codigo que no los pude resolver */
/* desde aca voy a empezar a trabajar con el "footer"  */

footer{
    width: 100%;
    height: 14vh;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 1vh;
    background-color: blue;
}

footer, h3{
    text-align: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 150px;
}

@media (min-width: 576px){

}